*{
    padding: 0;
    margin: 0;
    display: center;
    background-color:whitesmoke;
}
.main{
    text-align: center;
}
.main .search-box{
    position: relative;
    width: 100%;
    margin-top: 20px;
}
.main .search-box .s-box{
    width: 50%;
    padding: 13px;
    padding-left: 45px;
    padding-right: 6opx;
    border-radius: 45px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
}
.image{
    padding-left: 30px;
    size: 5px;
    margin-left: 5px;
    width: 90px;
    
}
.search-icon{
    width: 25px;
}
li a img{
    display: inline-block;
    margin: 35px;
}
.nav_bar{
    text-align: center;
    font-size: 15px;
    margin-top: 0px;
}
 .nav_bar li{
     display: inline-block;
     padding: 45px;
     text-size-adjust: 45px;
     font-size: 25px;
 }
 .nav_bar li :hover{
     color: black;
     text-transform: none;

 }
 .navigation {
    display: inline;
    margin-top: 45px;
    width: 50%;
    height: 100%;
    text-align: center;
    border-radius: 30px;
    margin-bottom: 30px;
    margin-right: 25px;
    position: relative;
    padding-top: 45px;
    padding-right: 45px;
    
    
 }
 .navigation button{
     margin-top: 35px;
     margin-right: 39px;
 }
 .navigation >button{
     padding-left: 12px;
 }
 button{
     border-radius: 30px;
     width: 140px;
     height: 60px;
     display: inline-block;
     text-indent: 0pc;
    
 }
 .img1{
     border-radius: 100%;
     width: 50px;
     height: 50px;
     padding-left: 1px;
     float: left;
 }
 .img2{
    border-radius: 100%;
    width: 50px;
    height: 50px;
    float: left;
 }
 .img3{
    border-radius: 100%;
    width: 50px;
    height: 50px;
    float: left;
 }
 .img4{
    border-radius: 100%;
    width: 50px;
    height: 50px;
    float: left;
 }
 .img5{
    border-radius: 100%;
    width: 50px;
    height: 50px;
    float: left;
 }
 .img6{
    border-radius: 100%;
    width: 50px;
    height: 50px;
    float: left;
 }
 .img7{
    border-radius: 100%;
    width: 50px;
    height: 50px;
    float: left;
 }
 hr :hover{
     color: lightslategray;
 }
 
 .gallery{
    padding: 75px;
    margin-top: 45px;
    padding-left: 35px;
    text-align: center;
    margin-top: 0%;
    position: relative;
}

p{
    position: absolute;
    display: none;
    padding-inline: center;
    color: blueviolet;
    
   
  }
  .gal-1 img p{
   position: relative;
   visibility: hidden;
   background-color: black;
   position: absolute;

  }
  .gal-1 img :hover p{
      visibility: visible;
  }
.gal-1 img {
    margin: 15px;
    display: inline-block;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-bottom: 60px;
    margin-right: 25px;
    position: relative;
}

.gal-1 img:hover{
    border-color: black;
    
}
.gal-2 img{
   margin: 15px;
   display: inline;
   text-align: center;
   border-color: black;
   margin-bottom: 60px;
   margin-right: 25px;
   position: relative;
   border-radius: 8px;
}
.gal-2 img p{
   position: relative;
   visibility: hidden;
   background-color: black;
   position: absolute;

  }
  .gal-2 img :hover p{
      visibility: visible;
  }
.gal-2 img:hover{
   border-color: black;


}
.gal-3 img {
   margin: 15px;
   display: inline;
   text-align: center;
   border-radius: 8px;
   border: 1px solid #ddd;
   margin-bottom: 60px;
   margin-right: 25px;
   position: relative;
} 
.gal-3 img p{
   position: relative;
   visibility: hidden;
   background-color: black;
   position: absolute;

  }
  .gal-3 img :hover p{
      visibility: visible;
  }
.gal-3 img:hover{
   border-color: black;
   background-color: red;
}
.gal-4 img {
   margin: 15px;
   display: inline;
   text-align: center;
   border-radius: 8px;
   border: 1px solid #ddd;
   margin-bottom: 60px;
   margin-right: 25px;
   position: relative;
}
.gal-4 img p{
   position: relative;
   visibility: hidden;
   background-color: black;
   position: absolute;
   display: none;

  }
  .gal-4 img :hover p{
      visibility: visible;
  }
.gal-4 img:hover{
   border-color: black;
   background-color: red;
}
